/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* Navbar design Starts Here */
.nav-logo{
    text-align: left;
}
.nav-heading h1{
    text-align: right;
}
.navbar-manu{
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-manu a{
    padding: 5px 10px;
    margin: 20px 0px;
    background-color: transparent;
}
/* Navbar design Ends Here */
/* Profile Design Starts Here*/
.profile .top-icon{
    right: 100px;
    top: 20px;
    width: 120px;
    transition:  width 2s, transform 2s;
}
.profile .top-icon:hover{
    width: 160px;
}
.profile-desc p{
    color: gray;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 10px;
}
.profile .bottom-icon{
    left: 100px;
    bottom: 20px;
    width: 120px;
    transition:  width 2s, transform 2s;
}
.profile .bottom-icon:hover{
    width: 160px;
}

/* Profile Design Ends Here */
/* Aboutme Design starts Here */
.aboutme-image{
  margin-top: 100px;  
}
.aboutme-image img{
    height: 270px;
    width: 250px;

}
.aboutme-desc{
    text-align: left;
}
/* Aboutme Design Ends Here */
/* Professional experience starts from here */

.professional-experience{
    padding: 1% 5%;
}

/* Professional experience Ends here */

/* Achivement Contact Me Starts From Here */
.achivement{

    padding-right: 50px;

}
.contact button{
    width: 35%;
}
.contact-links{
    position: relative;

}
.media-button{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
}

 /* Achivement Contact Me Ends Here */
 /* footer starts from here */
 .footer-menu{
     margin-top: 12px;

 }
 .footer-menu a{
     display: inline;
     margin: 10px;
 }
  /* footer Ends here */
